/* CSS Styles for Rock-Paper-Scissors game */

/* Global styles */
* {
    margin: 0px;
    padding: 0px;
}

/* Body styles */
body {
    background-image: url(ethan-smith-w2neeDixhbs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Heading styles */
h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

/* Choice styles */
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image styles */
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Choice hover styles */
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

/* Choices container styles */
.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 4rem;
}

/* Score board styles */
.score-board {
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
    color: white;
}

/* Score styles */
.score i, .score p {
    box-shadow: 0 0 1rem lime;
    border-radius: 1rem;
}

.score p {
    box-shadow: 0 0 1rem #EBF400;
}

/* Score id styles */
#user-score, #comp-score {
    font-size: 4rem;
}

/* Message container styles */
.msg-container {
    text-align: center;
    margin-top: 3.5rem;
    justify-content: space-evenly;
}

/* Message id styles */
#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .choices {
        flex-direction: column;
        gap: 10px;
        margin-top: 1.5rem;
    }

    .score-board {
        flex-direction: column;
        gap: 2rem;
    }

    .score-board .score {
        margin-bottom: 1rem;
    }
    body{
        background-image: url(ethan-smith-w2neeDixhbs-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #msg {
        background-color: #081b31;
        color: white;
        font-size: 16px;
        margin-top: 1rem;
        display: inline;
        /* padding: 1rem; */
        border-radius: 1rem;
    }
    
}

@media screen and (max-width: 443px) {
    .choices {
        flex-direction: column;
        gap: 10px;
        margin-top: 1rem;
    }

    .score-board {
        flex-direction: column;
        gap: 1rem;
    }

    
    body{
        background-image: url(ethan-smith-w2neeDixhbs-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #msg {
        background-color: #081b31;
        color: white;
        font-size: 16px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: inline;
        /* padding: 1rem; */
        border-radius: 1rem;
    }
    #user-score, #comp-score {
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 412px) {
    .choices {
        flex-direction: column;
        gap: 10px;
        margin-top: 1rem;
    }

    .score-board {
        flex-direction: column;
        gap: 1rem;
    }

    .score-board .score {
        margin-bottom: 1rem;
    }

    body {
        background-image: url(ethan-smith-w2neeDixhbs-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #msg {
        background-color: #081b31;
        color: white;
        font-size: 16px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: inline;
        /* padding: 1rem; */
        border-radius: 1rem;
    }
    #user-score, #comp-score {
        font-size: 2rem;
    }
}